/* GERAL */
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;

    }
    body{
     background-color: rgb(2, 7, 0);
     height: 100vh;   
    }

    .interface{
         max-width: 1280px;
         margin: 0 auto;
         padding: 0 1%;

    }
    .flex{
        display: flex;
    }
    .btn-contato button{
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 600;
        background-color: #00ff08;
        border: 0;
        border-radius: 30px;
        transition: .2s;
    
    }
    h2.title{
        color: #fff;
        font-size: 40px;
        text-align: center;

    }
    h2.title span{
        color: #00ff08;
    }
    button:hover{
        box-shadow: 0 0 8px #00ff08;
        transform: scale(1.05);
    }
    
    /*CABECALHO*/
    header{
        padding: 2px;
        top: 10px;
    }

    header > .interface{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color:  #fff;
    transform: scale(1.10);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 50px;
}
header nav .menu-desktop{
    top: auto;
}


/* Topo do site */
.logo img{
    width: 65%;
    height: 65%;
}
section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #b4b4b4;
    font-size: 40px;
    line-height: 30px;
}
.topo-do-site .txt-topo-site h1 span{
    color: #00ff08;
    font-size: 100px;
}
.topo-do-site .txt-topo-site p{
    justify-content: left;
    color: #c0c0c0;
    margin: 30px 15px;
}
.topo-do-site .txt-topo-site p span{
    color: #00ff08;
}
.topo-do-site .img-topo-site img{
    padding-right: 50px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*especialidades*/
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
.especialidades .esp-box{
    color: #fff;
    padding: 40px;
    margin-top: 35px;
    border-radius: 25px;
    transition: .2s;
}
.especialidades .esp-box i{
    font-size: 67px;
    color: #00ff08;
}

.especialidades .esp-box h3{
    font-size: 30px;
    margin: 15px 0;
}

.especialidades .esp-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff5e;

}
/*Estilo Sobre*/
section.sobre{
    padding: 60px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;

}
.sobre .txtsobre{
 color: #fff;
}
.sobre .txtsobre h2{
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txtsobre h2 span{
    color: #00ff08;
    display: block;
}
.sobre .txtsobre p{
    margin: 10px 0;
    text-align: justify;
}
.sobre .txtsobre .btn-social button{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background-color: #00ff08;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .1s;
}
